@use 'shared/styles/breakpoints' as br;

.container {
  width: 369px;
  height: 100%;
  object-fit: cover;
  border-radius: 15.79px;
  background-color: var(--surface-secondary);

  @media screen and (max-width: br.$tablet) {
    width: 263px;
  }

  @media screen and (max-width: br.$mobile) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -84px;
    width: calc(100% - 64px);
    height: 130px;
  }
}

.image {
   border-radius: 15.79px!important;
}
