.container {
  padding-left: auto;
  grid-area: 1 / 3 / 2 / 6;
  position: relative;

  --preview-1-width: min(27dvw, 1036px);
  --preview-2-width: min(22dvw, 844px);
  --points-width: min(6dvw, 230px);
  --arrow-width: min(8dvw, 307px);

  height: calc(var(--preview-1-width) + 115px);

  .withBlur {
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
    }

    .blur {
      position: absolute;
      top: 24px;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(40px);
      z-index: -1;
    }
  }

  .preview1 {
    display: flex;
    z-index: 10;

    top: 0;
    right: calc(var(--preview-2-width) + 20px);
    position: absolute;

    width: var(--preview-1-width);
    aspect-ratio: 1 / 1;
  }

  .preview2 {
    z-index: 9;

    top: 161px;
    right: -20px;
    position: absolute;

    width: var(--preview-2-width);
    aspect-ratio: 1 / 1;

    .image {
      border-radius: 22px;
    }

    @media screen and (min-width: 1800px) {
      top: 191px;
    }

    @media screen and (min-width: 2200px) {
      top: 221px;
    }

    @media screen and (min-width: 2700px) {
      top: 261px;
    }

    @media screen and (min-width: 3300px) {
      top: 301px;
    }
  }

  .arrow {
    z-index: 8;

    top: 40px;
    right: calc(var(--preview-2-width) / 1.5);
    position: absolute;

    width: var(--arrow-width);
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .points {
    z-index: 7;

    top: -20px;
    right: -30px;
    position: absolute;

    width: var(--points-width);
    object-fit: cover;
  }
}
