@use 'shared/styles/utils' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 200;

  top: 28px;
  width: 100%;
  max-width: var(--max-width);

  border-radius: 0 0 20px 20px;
  padding: 17px var(--page-padding-horizontal);
  transition: 0.3s background-color, 0.3s top;

  .content {
    display: flex;
    align-items: center;
    gap: 40px;

    .logo {
      display: flex;

      svg {
        width: 38px;
        height: 38px;
      }
    }

    .navList {
      gap: 32px;
      display: flex;
      align-items: center;
    }
  }

  @extend .fixedClass;
}

.scrolled {
  top: 0;
  background-color: var(--surface-base);
}
