@use 'shared/styles/breakpoints' as br;

.container {
  width: 100%;
  background-color: var(--surface-primary);
  padding: 115px 0 154px var(--page-padding-horizontal);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 49px;

  .content {
    grid-area: 1 / 1 / 2 / 3;
  }

  @media screen and (max-width: br.$tablet) {
    padding: 71px 0 103px var(--page-padding-horizontal);
  }

  @media screen and (max-width: br.$mobile) {
    display: flex;
    flex-direction: column;
    padding: 71px var(--page-padding-horizontal) 119px;
  }
}
