@use 'shared/styles/breakpoints' as br;

.container {
  font-size: 1.375rem;
  line-height: 1.5rem;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media screen and (max-width: br.$tablet) {
    font-size: 1rem;
    line-height: 1.125rem;
  }
}
