@use 'shared/styles/breakpoints' as br;

.container {
  display: flex;
  align-items: center;
  gap: 40px;

  .navLink {
    text-transform: none;
    color: var(--text-caption);
  }

  @media screen and (max-width: br.$tablet) {
    gap: 28px;
  }
}