@use 'shared/styles/breakpoints' as br;

.container {
  padding: 14px;
  width: fit-content;
  border-radius: 24px;
  background-color: var(--surface-base);
  box-shadow: 38px 12px 60px 0px #c7c7c799;
  
  display: flex;
  flex-direction: column;
  
  width: 281px;
  
  @media screen and (max-width: br.$tablet) {
    padding: 10px;
    width: 210px;
    border-radius: 18px;
  }
}
