.container {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.67125rem;
  
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-secondary);
  font-family: var(--font-family-secondary);
}
