.container {
  display: flex;
  flex-direction: column;

  .subtitle {
    margin-top: 28px;
    color: var(--text-tertiary);
    font-family: var(--font-family-secondary);

    .bonus {
      font-size: var(--p-size);
      line-height: var(--p-height);
    }
  }
}
