.container {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .bid {
    display: flex;
    flex-direction: column;

    .label {
      font-size: 0.875rem;
      line-height: 100%;
      color: var(--text-muted);
    }

    .value {
      gap: 4px;
      display: flex;
      margin-top: 3px;
      align-items: center;

      svg {
        width: 22px;
        height: 22px;
      }
    }

    .amount {
      font-weight: 500;
      font-size: 1rem;
      line-height: 150%;
    }
  }

  .button {
    border: none;
    line-height: 150%;
    font-size: 0.875rem;
    padding: 14.5px 24.5px;
  }
}
