.container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 300px;
  border-radius: 30px;
  background-color: var(--surface-primary-alt);

  padding: 31px 31px 31px 66px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
