@use 'shared/styles/breakpoints' as br;

.container {
  display: flex;
  position: relative;
  justify-content: space-between;

  width: 100%;
  height: 300px;
  border-radius: 30px;
  background-color: var(--surface-primary-alt);

  padding: 31px 31px 31px 66px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: br.$mobile) {
      justify-content: center;
    }
  }

  @media screen and (max-width: br.$tablet) {
    height: 233px;
    border-radius: 22px;
    padding: 23px 23px 23px 47px;
  }

  @media screen and (max-width: br.$mobile) {
    padding: 22px;
    height: 211px;
    border-radius: 14px;
    flex-direction: column;
  }
}
