@use 'shared/styles/breakpoints' as br;

.container {
  width: 100%;
  background-color: var(--surface-secondary);
  padding: 70px 0 0;

  .title {
    text-align: center;
    color: var(--text-placeholder);
  }

  .swiper {
    cursor: grab;
    padding: 70px var(--page-padding-horizontal);

    &:active {
      cursor: grabbing;
    }

    @media screen and (max-width: br.$tablet) {
      padding: 50px var(--page-padding-horizontal);
    }
  }

  @media screen and (max-width: br.$tablet) {
    padding: 50px 0 0;
  }
}
