.container {
  margin-top: 81px;

  gap: 60px;
  display: flex;
  align-items: center;

  .block {
    display: flex;
    flex-direction: column;

    .title {
      font-family: var(--font-family-quaternary);
    }
    
    .subtitle {
      margin-top: 10px;
      line-height: 1rem;
      font-size: 0.75rem;
      color: var(--text-quaternary);
      font-family: var(--font-family-secondary);
    }
  }
}
