.container {
  position: relative;

  .image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    z-index: 1;
  }

  .blur {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(40px);
    z-index: 0;
  }
}
