@use 'shared/styles/breakpoints' as br;

.container {
  margin-top: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .copyright {
    font-size: 1.0625rem;
    line-height: 1.5625;
    color: var(--text-hint);
    font-family: var(--font-family-secondary);

    @media screen and (max-width: br.$tablet) {
      font-size: 0.75rem;
      line-height: 1.125;
    }
  }

  .link {
    svg {
      display: flex;
      width: 24px;
      height: 24px;

      path {
        transition: 0.3s fill;
      }

      @media screen and (max-width: br.$tablet) {
        width: 17px;
        height: 17px;
      }
    }

    &:hover {
      svg path {
        fill: var(--fill-primary);
      }
    }
  }

  @media screen and (max-width: br.$tablet) {
    margin-top: 40px;
  }
}
