.container {
  width: 253px;
  height: 253px;
  aspect-ratio: 1 / 1;

  position: relative;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    background-color: var(--surface-primary);
  }

  .labelWrapper {
    position: absolute;
    
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 14px;
    right: 11px;
    background-color: #1c1d2059;
    border: 1.18px solid #1c1d2014;

    padding: 9px 0;
    border-radius: 10px;
    backdrop-filter: blur(4.7px);
    box-shadow: 0px 4.71px 14.12px 0px #1c1d2014;
  }
}
