@use 'shared/styles/breakpoints' as br;

.container {
  display: flex;
  flex-direction: column;

  .title {
    color: var(--text-primary-invert);

    @media screen and (max-width: br.$mobile) {
      text-align: center;
    }
  }

  .subtitle {
    opacity: 0.6;
    margin-top: 20px;
    font-size: 1.25rem;
    line-height: 1.375rem;
    color: var(--text-disabled);

    @media screen and (max-width: br.$tablet) {
      margin-top: 15px;
      font-size: 0.9375rem;
      line-height: 1.03125rem;
    }

    @media screen and (max-width: br.$mobile) {
      text-align: center;
      margin-top: 9px;
      font-size: 0.625rem;
      line-height: 130%;
    }
  }
}
